body {
  text-align: center;
  background: linear-gradient(#87CEEB 0%, #FFC0CB 100%);
  background-repeat:no-repeat;  
}
#yo  
{
  border-radius:50%;
  width:100px;
}

h1{
  text-shadow: 2px 2px #F8BBDO;
  font-size:20px;
}


p{
  font-size:18px;
  color:#6A1B9A;
}